<style>

    .changesSavedParag{
        border: 1px solid #000000;
        padding: 0.5em;
    }

</style>

{{>header}}
<div class="container-sm p-3 my-3 " >

<div class="d-flex justify-content-center m-2">



<div><p class="changesSavedParag">The book with ISBN: {{ISBN}} is now deleted from the database</p><br><a href="/book/add">Add new book</a> <br> <a href="/bookshop">Back to all books</a></div>


</div>
</div>
{{>footer}}


<!--<span style="border: 1px solid #000000;padding: 0.5em;">-->